.text-primary {
  color: #4DB8A9
}

.white {
  color: white
}

.bg-primary {
  background: #4DB8A9
}

.cols-1-2 {
  display              : grid;
  grid-template-columns: 1fr 2fr;
  justify-content      : space-around;
  align-items          : center;
  height               : 100%;
  width                : 100%;
}

.big-container {
  margin   : auto;
  max-width: 1440px;
  height   : 100%
}

.container {
  padding: 5%;
  height : 100%;
}

.flex-items-center {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.flex-col-center {
  display        : flex;
  align-items    : center;
  flex-direction : column;
  justify-content: center;
}

.flex-row-center {
  display        : flex;
  align-items    : center;
  flex-direction : row;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.text-field {
  background   : #F4F8F7;
  font-size    : 16px;
  padding      : 15px;
  margin       : 0;
  border-radius: 5px;
  border       : none;
  width        : 250px
}

::placeholder {
  color: #BEC1C0;
}

.full-width {
  width: 100%
}

.button {
  font-weight   : 600;
  text-transform: uppercase;
  padding       : 15px;
  border        : none;
  margin        : 0;
  border-radius : 100px;
  width         : 200px
}

.button:hover {
  font-weight: 800;
}

.button.primary {
  background: #4DB8A9;
  color     : white
}

.button.primary:hover {
  background-color: #4DD5BC;
}

.button.normal {
  background: none;
}

.button.outlined {
  background: none;
  border    : 1px solid black;
}

.button.outlined.white {
  border-color: white;
}

.button.outlined.primary {
  border-color: #4DD5BC;
}



.vert-dist {
  display : grid;
  grid-gap: 10px
}

.form-cols {
  display              : grid;
  grid-gap             : 20px 10px;
  grid-template-columns: auto auto;
}

.profile-container {
  display         : flex;
  align-items     : center;
  flex-direction  : row;
  justify-content : center;
  width           : 80%;
  padding         : 5%;
  border-radius   : 10px;
  background-color: #F4F8F7;
  box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.icon {
  margin: 10px;
  color : gray
}

.error-text {
  color    : red;
  margin   : 0;
  font-size: 12px;
}

.app-bar {
  position       : fixed;
  background     : white;
  top            : 0;
  left           : 0;
  right          : 0;
  display        : flex;
  align-items    : center;
  justify-content: space-around;
  width          : 100%;
  height         : 60px;
  box-shadow     : 0 2.5px 6px 0 rgb(0 0 0 / 30%);
}

.cards-grid {
  margin               : auto;
  display              : grid;
  gap                  : 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding              : 80px 3% 30px 3%
}

.preview-card {
  padding      : 10%;
  width        : 100%;
  height       : auto;
  background   : #F4F8F7;
  border-radius: 5px;
  text-align   : center;
  box-shadow   : 0 2px 6px 0 rgb(0 0 0 / 30%);
}

.preview-card:hover{
  box-shadow   : 0 5px 10px 0 rgb(0 0 0 / 30%);
}


@media only screen and (max-width: 860px) {
  .cols-1-2 {
    grid-template-columns: 100%;
  }


}



@media only screen and (max-width: 600px) {
  .form-cols {
    grid-template-columns: auto;
  }

  .profile-container {
    text-align    : center;
    flex-direction: column;
  }

}

@media only screen and (max-width: 520px) {
  .appbar-text {
    display: none;
  }

  #appbar-button {
    width: 150px;
  }


}